<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div class="container">
  <%if @article.errors.any? %>
    <ul>
    <% @article.errors.full_messages.each do|msg| %>

    <li><%=msg %></li>
    <% end %>
    </ul>
  <%end %>



<h1>this is article posting page</h1>

<%=form_for @article do |s| %>

<p>

  <%= s.label :title %> <br>
<%=s.text_field :title %>

</p>

<p>

  <%=s.label :description %><br>

  <%= s.text_area :description %>

</p>
<p>
  <%=s.submit %>

</p>

<%end %>
</div>
</body>
</html>